{% extends 'base.html' %}
{% block title %}
Activities
{% endblock %}
{% block main %}
    <h1>Other activities present at the location:</h1>
    <ul>
        <li>Eat at the lovely cafeteria</li>
        <li>Play with the puppies</li>
        <li>Enjoy the scenic bathrooms</li>
    </ul>
    <iframe width="699" height="480" src="https://www.youtube.com/embed/VAH-ixdFWFs"
            title="20 Minutes of Adorable Puppies 🐶" allow="accelerometer; autoplay;
            clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
{% endblock %}


