{% extends 'base.html' %}
{% block title %}
Keynote
{% endblock %}
{% block main %}
    <div class="horizontalsection">
        <div class="column">
            <img src="../images/pewdiepie.jpg" alt="Pewdiepie" height="323" width="275"><br>
            Felix Kjellberg<br>
            Felix (Pewdiepie) once held the coveted spot of most subscribed channel on YouTube. He is currently
            retired but still posts and works on YouTube videos while taking care of his family.
        </div>
        <div class="column">
            <img src="../images/joji.jpg" alt="Joji" height="323" width="275"> <br>
            George Miller<br>
            George (Joji) is a YouTuber turned music sensation. Before Joji became a music artist, he was cranking out
            numerous popular YouTube videos on his channel FilthyFrankTV.<br></div>
    </div>
{% endblock %}

