<nav>
    <ul>
        <li><a href="/" class="links"> Index </a></li>
        <li><a href="activities" class="links"> Activites </a></li>
        <li><a href="awards" class="links"> Awards </a></li>
        <li><a href="keynote" class="links"> Keynote </a></li>
        <li><a href="meals" class="links"> Meals </a></li>
        <li><a href="poll" class="links"> Poll </a></li>
        <li><a href="registration" class="links"> Registration </a></li>
        <li><a href="workshopschedule" class="links"> Workshop Schedule </a></li>
    </ul>
</nav>
