{% extends 'base.html' %}
{% block title %}
Workshop
{% endblock %}
{% block main %}
    <table class="table">
        <thead>
        <tr class="tablehead">
            <td>Day</td>
            <td>Session</td>
            <td>Workshop Title</td>
            <td>Speaker</td>
            <td>Room</td>
            <td>Time</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Day 1</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>Session 1</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>Utilizing Converters (MP3, MP4a, MP4)</td>
            <td>Mr. Convert</td>
            <td>Room 10</td>
            <td>9:00 AM - 10:50 AM</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>Thumbnail Design</td>
            <td>Mr. Doodle</td>
            <td>Room 11</td>
            <td>9:00 AM - 10:50 AM</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>Video Planning</td>
            <td>Ms. Plan</td>
            <td>Room 12</td>
            <td>9:00 AM - 10:50 AM</td>
        </tr>
        <tr>
            <td></td>
            <td>Session 2</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>Video Editing Basics</td>
            <td>Mr. Convert</td>
            <td>Room 10</td>
            <td>9:00 AM - 10:50 AM</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>Video Editing Advanced</td>
            <td>Mr. Doodle</td>
            <td>Room 11</td>
            <td>9:00 AM - 10:50 AM</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>Video Enhancing</td>
            <td>Ms. Plan</td>
            <td>Room 12</td>
            <td>9:00 AM - 10:50 AM</td>
        </tr>
        <tr>
            <td>Day 2</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>Session 3</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>Video collaboration/networking</td>
            <td>Mr. Convert</td>
            <td>Room 10</td>
            <td>9:00 AM - 10:50 AM</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>Advertisement/Promotion of videos</td>
            <td>Mr. Doodle</td>
            <td>Room 11</td>
            <td>9:00 AM - 10:50 AM</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>Different mediums of videos (Shorts, Long-Format, Podcast)</td>
            <td>Ms. Plan</td>
            <td>Room 12</td>
            <td>9:00 AM - 10:50 AM</td>
        </tr>
        </tbody>
    </table>
{% endblock %}

